{{!-- image ALT "Photo by Pablo Merchán Montes on Unsplash" --}}

<h1>Burgers</h1>

{{!-- burgers not devoured --}}
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block}}
    {{/unless}}
    {{/each}}
</ul>

{{!-- burgers devoured --}}
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{id}} {{burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>