<main>

    {{!-- Header --}}
    <header>
        <h1>Eat-Da-Burger</h1>
    </header>

    {{!-- Input Section --}}
    <section class="input-section">
        <h3>Enter A Burger You Want To Eat</h3>
        <form>
            <input type="text" class="input-box" name="burger_name" id="burger_name">
            <button type="submit" id="submit-btn">Submit</button>
        </form>
    </section>

    {{!-- Burgers To Eat Section --}}
    <section id="bgrs-not-eaten" class="content-sections">
        <h3>Burgers To Eat:</h3>
        {{!-- burgers not devoured --}}
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block}}
            {{/unless}}
            {{/each}}
        </ul>
    </section>

    {{!-- Main Burger Image Section --}}
    <section class="burger-img">
        <img src="/assets/img/burger-pic.jpg" alt="Photo by Pablo Merchán Montes on Unsplash">
    </section>

    {{!-- Burgers Eaten Section --}}
    <section id="bgrs-eaten" class="content-sections">
        <h3>Burgers Devoured:</h3>
        {{!-- burgers devoured --}}
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                <p>{{id}}. {{burger_name}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>

</main>